<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FH Admin</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="FH Admin QQ313596790" />

    <link rel="icon" href="../../../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/animation/css/animate.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    
    <!-- 日期插件 -->
    <link rel="stylesheet" href="../../../assets/plugins/material-datetimepicker/css/bootstrap-material-datetimepicker.css">
    
    <!-- select插件 -->
    <link rel="stylesheet" href="../../../assets/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/multi-select/css/multi-select.css">
    
    <!-- vue -->
	<script src="../../../assets/js-vue/vue.js"></script>
    <!--全局配置-->
    <script src="../../../assets/js-v/config.js"></script>

</head>

<body style="background-color: white">
    
    <!-- [加载状态 ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ 加载状态  ] End -->

    <!-- [ 主内容区 ] start -->
        <div class="pcoded-wrapper" id="app">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
					
								<div style="width: 100%;">
									<div id="showform">
		                               <!-- <div class="input-group input-group-sm mb-3" id="ACTIVITY_IDs">
											<select class="js-example-placeholder-multiple col-sm-12" ref="ACTIVITY_ID" id="ACTIVITY_ID" data-placeholder="请选择活动">
												<option value=""></option>
												<template v-for="data in activities">
													<template v-if="data.ACTIVITY_ID == pd.ACTIVITY_ID">
													<option v-bind:value="data.ACTIVITY_ID" selected>{{data.NAME}}</option>
													</template>
													<template v-else>
													<option v-bind:value="data.ACTIVITY_ID">{{data.NAME}}</option>
													</template>
												</template>
											</select>
							            </div> -->
							            <!-- <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">签到活动</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="ACTIVITY_ID" id="ACTIVITY_ID" v-model="pd.ACTIVITY_ID" maxlength="200" placeholder="这里输入签到活动" title="签到活动">
		                                </div> -->
							            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">姓名</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="NAME" id="NAME" v-model="pd.NAME" maxlength="50" placeholder="这里输入姓名" title="姓名">
		                                </div>
							            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">电话</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="PHONE" id="PHONE" v-model="pd.PHONE" maxlength="50" placeholder="这里输入电话" title="电话">
		                                </div>
							            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">部门</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="DEPARTMENT" id="DEPARTMENT" v-model="pd.DEPARTMENT" maxlength="50" placeholder="这里输入部门" title="部门">
		                                </div>
							            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">职务</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="POSITIONS" id="POSITIONS" v-model="pd.POSITIONS" maxlength="50" placeholder="这里输入职务" title="职务">
		                                </div>
							            <!-- <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">签到时间</span></span>
		                                    </div>
		                                    <input type="text" class="form-control date" ref="QDTIME" id="QDTIME" maxlength="32" placeholder="这里输入签到时间" title="签到时间">
		                                </div> -->
							            <!-- <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">签到位数</span></span>
		                                    </div>
		                                    <input type="number" class="form-control" ref="QDORDER" id="QDORDER" v-model="pd.QDORDER" maxlength="11" placeholder="这里输入签到位数" title="签到位数">
		                                </div> -->
							            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">座位号</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="SEATNO" id="SEATNO" v-model="pd.SEATNO" maxlength="11" placeholder="这里输入座位号" title="座位号">
		                                </div>
		                                <template v-if="null != pd.USERINFO_ID">
							            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">是否签到</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="STATE" id="STATE" readonly="readonly" v-model="pd.STATE" maxlength="11" title="是否签到">
		                                </div>
		                                </template>
							            <div class="input-group" style="margin-top:10px;background-color: white" >
							            	<span style="width: 100%;text-align: center;">
							            		<a class="btn btn-light btn-sm" v-on:click="save">保存</a>
							            		<a class="btn btn-light btn-sm" onclick="top.Dialog.close()">取消</a>
							            	</span>
							            </div>
							       </div>
						           <!-- [加载状态 ] start -->
								    <div id="jiazai" style="display:none;margin-top:50px;">
								    	<div class="d-flex justify-content-center">
	                                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </div>
								    <!-- [ 加载状态  ] End -->
								</div>
	    
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ 主内容区 ] end -->
    
<script type="text/javascript" src="../../../assets/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="../../../assets/js/pre-loader.js"></script>
<script src="../../../assets/plugins/sweetalert/js/sweetalert.min.js"></script>

<!-- 日期插件 -->
<script src="../../../assets/js/pages/moment-with-locales.min.js"></script>
<script src="../../../assets/plugins/material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<script src="../../../assets/js/pages/form-picker-custom.js"></script>

<!-- select插件 -->
<script src="../../../assets/plugins/select2/js/select2.full.min.js"></script>
<script src="../../../assets/plugins/multi-select/js/jquery.quicksearch.js"></script>
<script src="../../../assets/plugins/multi-select/js/jquery.multi-select.js"></script>
<script src="../../../assets/js/pages/form-select-custom.js"></script>

<!-- 表单验证提示 -->
<script src="../../../assets/js/jquery.tips.js"></script>
<script src="../../../assets/js-v/getUrl.js"></script>

<script type="text/javascript">

var vm = new Vue({
	el: '#app',
	
	data:{
		USERINFO_ID: '',	//主键ID
		pd: [],						//存放字段参数
		msg:'add',
		activities: []
    },
	
	methods: {
		
        //初始执行
        init() {
        	var FID = this.getUrlKey('FID');	//当接收过来的FID不为null时,表示此页面是修改进来的
        	if(null != FID){
        		this.msg = 'edit';
        		this.USERINFO_ID = FID;
        		this.getData();
        	}
        	setTimeout(function(){
        		vm.getDict();
            },200);
        	this.getActivity()
        },
        
        //去保存
    	save: function (){
    		
			/* if(this.pd.OPENID == '' || this.pd.OPENID == undefined){
				$("#OPENID").tips({
					side:3,
		            msg:'请输入openid',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.OPENID = '';
				this.$refs.OPENID.focus();
			return false;
			} */
			/* this.pd.ACTIVITY_ID = $("#ACTIVITY_ID").val();
			if(this.pd.ACTIVITY_ID == '' || this.pd.ACTIVITY_ID == undefined){
				$("#ACTIVITY_ID").tips({
					side:3,
		            msg:'请输入签到活动',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.ACTIVITY_ID = '';
				this.$refs.ACTIVITY_ID.focus();
			return false;
			} */
			/* if(this.pd.NICKNAME == '' || this.pd.NICKNAME == undefined){
				$("#NICKNAME").tips({
					side:3,
		            msg:'请输入昵称',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.NICKNAME = '';
				this.$refs.NICKNAME.focus();
			return false;
			} */
			if(this.pd.NAME == '' || this.pd.NAME == undefined){
				$("#NAME").tips({
					side:3,
		            msg:'请输入姓名',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.NAME = '';
				this.$refs.NAME.focus();
			return false;
			}
			if(this.pd.PHONE == '' || this.pd.PHONE == undefined){
				$("#PHONE").tips({
					side:3,
		            msg:'请输入电话',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.PHONE = '';
				this.$refs.PHONE.focus();
			return false;
			}
			if(this.pd.DEPARTMENT == '' || this.pd.DEPARTMENT == undefined){
				$("#DEPARTMENT").tips({
					side:3,
		            msg:'请输入部门',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.DEPARTMENT = '';
				this.$refs.DEPARTMENT.focus();
			return false;
			}
			if(this.pd.POSITIONS == '' || this.pd.POSITIONS == undefined){
				$("#POSITIONS").tips({
					side:3,
		            msg:'请输入职务',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.POSITIONS = '';
				this.$refs.POSITIONS.focus();
			return false;
			}
			/* if(this.pd.FACEICON == '' || this.pd.FACEICON == undefined){
				$("#FACEICON").tips({
					side:3,
		            msg:'请输入头像',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.FACEICON = '';
				this.$refs.FACEICON.focus();
			return false;
			} */
			/* this.pd.QDTIME = $("#QDTIME").val();
			if(this.pd.QDTIME == '' || this.pd.QDTIME == undefined){
				$("#QDTIME").tips({
					side:3,
		            msg:'请输入签到时间',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.QDTIME = '';
				this.$refs.QDTIME.focus();
			return false;
			} */
			/* if(this.pd.QDORDER == '' || this.pd.QDORDER == undefined){
				$("#QDORDER").tips({
					side:3,
		            msg:'请输入签到位数',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.QDORDER = '';
				this.$refs.QDORDER.focus();
			return false;
			} */
			/* if(this.pd.SEATNO == '' || this.pd.SEATNO == undefined){
				$("#SEATNO").tips({
					side:3,
		            msg:'请输入座位号',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.SEATNO = '';
				this.$refs.SEATNO.focus();
			return false;
			} */
    		
    		$("#showform").hide();
    		$("#jiazai").show();
    		
            //发送 post 请求提交保存
            $.ajax({
	            	xhrFields: {
	                    withCredentials: true
	                },
					type: "POST",
					url: httpurl+'userinfo/'+this.msg,
			    	data: {
			    	USERINFO_ID:this.USERINFO_ID,
				    // OPENID:this.pd.OPENID,
				    ACTIVITY_ID:getUrlParam('ACTIVITY_ID'),
				    // NICKNAME:this.pd.NICKNAME,
				    NAME:this.pd.NAME,
				    PHONE:this.pd.PHONE,
				    DEPARTMENT:this.pd.DEPARTMENT,
				    POSITIONS:this.pd.POSITIONS,
				    // FACEICON:this.pd.FACEICON,
				    // QDTIME:this.pd.QDTIME,
				    // QDORDER:this.pd.QDORDER,
				    SEATNO:this.pd.SEATNO,
			    	tm:new Date().getTime()},
					dataType:"json",
					success: function(data){
                        if("success" == data.result){
                        	swal("", "保存成功", "success");
                        	setTimeout(function(){
                        		top.Dialog.close();//关闭弹窗
                            },1000);
                        }else if ("exception" == data.result){
                        	showException("用户签到",data.exception);//显示异常
                        	$("#showform").show();
                    		$("#jiazai").hide();
                        }
                    }
				}).done().fail(function(){
                   swal("登录失效!", "请求服务器无响应，稍后再试", "warning");
                   $("#showform").show();
           		   $("#jiazai").hide();
                });
    	},
    	
    	//根据主键ID获取数据
    	getData: function(){
    		//发送 post 请求
            $.ajax({
            	xhrFields: {
                    withCredentials: true
                },
				type: "POST",
				url: httpurl+'userinfo/goEdit',
		    	data: {USERINFO_ID:this.USERINFO_ID,tm:new Date().getTime()},
				dataType:"json",
				success: function(data){
                     if("success" == data.result){
                     	vm.pd = data.pd;							//参数map
						$("#QDTIME").val(data.pd.QDTIME);
                     }else if ("exception" == data.result){
                     	showException("用户签到",data.exception);	//显示异常
                     	$("#showform").show();
                 		$("#jiazai").hide();
                     }
                  }
			}).done().fail(function(){
                  swal("登录失效!", "请求服务器无响应，稍后再试", "warning");
                  $("#showform").show();
          		  $("#jiazai").hide();
               });
    	},
    	
    	// 获取有效活动列表
    	getActivity: function(){
    		$.ajax({
    			xhrFields: {
                    withCredentials: true
                },
				type: "POST",
				url: httpurl+'activity/getActivity',
		    	data: {STATE:0,tm:new Date().getTime()},
				dataType:"json",
				success: function(data){
					console.log(data);
                	if("success" == data.result){
                		vm.activities = data.activities;
                   	}else if ("exception" == data.result){
                   		showException("用户签到",data.exception);	//显示异常
                   		$("#showform").show();
               			$("#jiazai").hide();
                   	}
                }
    		}).done().fail(function(){
    			swal("登录失效!", "请求服务器无响应，稍后再试", "warning");
                $("#showform").show();
        		$("#jiazai").hide();
    		});
    	},
    	
    	//获取数据字典数据
		getDict: function (){
		},
    	
    	//根据url参数名称获取参数值
        getUrlKey: function (name) {
            return decodeURIComponent(
                (new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.href) || [, ""])[1].replace(/\+/g, '%20')) || null;
        }
        
	},
	
	mounted(){
        this.init();
    }
})
				
</script>

</body>
</html>